<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InteractiveMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD46FC061BE9DBCE009690B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD46FC1A1BE9DBCE009690B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD46FC251BE9DBCE009690B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
